* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    font-family: var(--font-default);
    background: linear-gradient(rgb(245, 248, 255), rgb(245, 248, 255));
}

ul,
li {
    padding: 0;
}

/* input,
button,
select,
textarea,
a:focus {
    box-shadow: none;
    outline: none;
} */
.row {
    display: flex;
}

/* body  */
#aside {
    width: 21%;
    height: 100vh;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* end of body  */

/* sidebar  */
#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(244, 247, 254);
    padding: 40px 20px;
    max-height: 150px;
}

#logo-container span {
    display: block;
    margin-left: 10px;
}

#logo-container span:first-child {
    margin-left: 10px;
    font-size: 31px;
    font-weight: 900;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
}

#logo-container span:last-child {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    color: var(--color-primary-light);
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: 500;
    line-height: 14px;
}

#logo-container img {
    width: 100%;
    max-width: 70px;
    height: 70px;
    border-radius: 10px;
}
/* end of sidebar */

/* begin of mẹnu container  */
#menu-container {
    padding: 40px;
    background-color: var(--color-white);
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
#menu-container::-webkit-scrollbar {
    width: 8px;
}

#menu-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

#menu-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#menu-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#menu-container ul {
    list-style: none;
}

#menu-container li {
    width: 100%;
    /* background-color: var(--color-primary); */
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;
}

#menu-container li.bg-blue .flex-left-content span {
    color: var(--color-white);
}

#menu-container li.bg-blue:hover .flex-left-content span {
    color: var(--color-white);
}

#menu-container li.bg-blue:hover a {
    background-color: var(--color-blue);
}

#menu-container li:hover a {
    color: var(--color-black) !important;
    font-weight: 500;
}

#menu-container li a {
    padding: 15px 10px;
    text-decoration: none;
    color: var(--color-default);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
}

#menu-container li a:hover {
    background-color: var(--color-links);
}

.flex-left-content {
    display: flex;
    align-items: center;
}

#menu-container li a span {
    font-size: 21px;
}

#menu-container img {
    color: var(--color-white);
    width: 29px;
    margin-right: 15px;
}

.angle-down {
    float: right;
}

ul.sub-menu {
    margin-top: 10px;
    width: 60%;
    display: none;
}

#menu-container li.show ul.sub-menu {
    display: block;
}

#menu-container li.show a > img {
    transform: rotateX(180deg);
}

ul.sub-menu li {
    margin-bottom: unset;
    margin-left: 60px;
}

.log-out {
    margin-top: 40px;
}

.no-hover {
    pointer-events: none;
}
/* end of menu container  */

/* begin of main  */
#main {
    width: 79%;
    height: 100vh;
    overflow-y: scroll;
}
/* end of main  */

/* begin of navbar  */
#navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#navbar-left {
    flex-grow: 1;
}

#navbar-right {
    display: flex;
    align-items: center;
}

#navbar .notification {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#navbar .notification img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

img.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#navbar-right {
    background-color: #fff;
    padding: 13px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info-container {
    margin-left: 20px;
}

.user-info-container span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

/* end of navbar  */

/* begin of footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    color: var(--color-default);
    padding: 0 40px;
    margin-top: 20px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right a {
    color: var(--color-default);
    text-decoration: none;
    margin-right: 25px;
}
/* end of footer  */

/* begin of content  */

.content {
    width: 100%;
    padding: 0 5px;
}

.content-path {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-path img {
    width: 25px;
    margin-right: 5px;
}

.content_header {
    width: 100%;
    height: 95px;
    background-color: var(--color-white);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.content_header--title {
    color: var(--color-black);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.content_header--title span {
    border: none;
    margin-left: 40px;
    font-size: 20px;
    text-transform: capitalize;
}

.content_header a {
    text-decoration: none;
}

.content_header--path {
    display: flex;
    align-items: center;
}

.content_header--path img {
    width: 30px;
    margin-right: 5px;
}

.content_header--path p a {
    display: inline-block;
    margin-top: 15px;
    color: var(--color-default);
}
/* Custom btn  */

.btn-cs a,
.btn-cs button,
.btn-custom {
    text-decoration: none;
    margin: 30px 20px;
    height: 60px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.table_container .btn-cs a,
.table_container .btn-cs button,
.btn-custom {
    font-size: 19px;
    height: 52px;
    border-radius: 3px;
    background-color: var(--color-green);
    margin: 20px;
}

.btn-custom.btn-add {
    background-color: var(--color-blue);
}

.btn-cs.btn-add a,
.btn-cs.btn-add button {
    background-color: var(--color-primary-light);
}

.btn-cs.btn-save a,
.btn-cs.btn-save button {
    background-color: var(--color-green);
}

.btn-cs.btn-delete a,
.btn-cs.btn-back a {
    background-color: var(--color-red);
}

.modal-footer .btn-primary {
    background: var(--color-green);
}

.modal-footer .btn-secondary {
    background: var(--color-red);
}

/* End of custom btn  */
/* Begin of custom table  */
.table_container {
    width: 100%;
    margin: 0 40px;
    background-color: var(--color-white);
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table_title {
    height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 10px;
}

.table_filter-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}

.table_filter-controls input {
    margin-left: 10px;
    padding: 7px;
    color: var(--color-default);
}

.table_filter-controls select {
    margin: 0 5px;
    padding: 7px;
}
#table-list tr {
    cursor: pointer;
}

#table-list tr th,
#table-list tr td {
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
}

#table-list tr td {
    color: var(--color-default-light);
}
.table-list tr th,
.table-list tr td {
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
}

.table-list tr td {
    color: var(--color-default-light);
}

.table > :not(caption) > * > * {
    background-color: transparent !important;
    box-shadow: none !important;
}

.table-product th,
.table-product td {
    border: 1px solid #000;
    color: #000 !important;
}

/* .btn-cell {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.btn-cell a {
    margin-right: 50px;
}

.btn-cell img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.btn-cell button {
    border: none;
    background-color: unset;
}

.btn-cell button.btn-approve {
    background-color: var(--color-green);
}

.btn-cell button.btn-reject {
    background-color: var(--color-red);
}

.btn-cell form {
    display: inline;
}
/* End of custom table  */
/* end of content  */

/* content 10  */
.content-10 {
    width: 100%;
    background-color: var(--color-white);
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 20px;
}

/* tai hinh anh */
.show-image {
    width: 140px;
    height: 165px;
    margin: 20px 0;
}

.show-image img {
    width: 100%;
    object-fit: cover;
}

/* nut dieu khien  */
.btn-controls {
    display: flex;
    align-items: center;
}

/* css cho input  */
.input-div {
    margin: 20px 0;
}

.input-div input {
    margin: 10px 0;
    padding: 12px;
    color: var(--color-default-dark);
    border: none;
    border-bottom: 1px solid var(--color-default);
}

.input-div input:focus {
    color: var(--color-default-dark);
    box-shadow: none;
}

.input-div select {
    padding: 10px 15px;
    margin-right: 20px;
}

.input-div .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.input-div .lst-group-content input,
.input-div .lst-group-header input {
    border: 1px solid var(--color-default);
    margin-right: 10px;
}

.input-div .lst-group-content,
.input-div .lst-group-header {
    display: flex;
    align-items: center;
}
/* css cho message  */
.error.message {
    margin: 10px 0;
    color: red;
}

/* css cho heading  */
.input-div h4 {
    margin-bottom: 20px;
}

.input-div h5 {
    margin: 15px 0;
}

.input-div h4,
.input-div h5 {
    color: var(--color-default-dark);
}

/* css cho list group  */
.lst-group-header {
    border-bottom: 1px solid var(--color-default);
    margin: 15px 0;
}

.lst-group-content {
    margin-bottom: 10px;
}

/* css cho toast  */

.toast {
    font-size: 18px; /* Change this value to your desired font size */
}

/* css cho modal  */
.modal-cs {
    font-size: 16px;
    color: var(--color-default-dark);
}

.modal-cs .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-cs .content-10 {
    margin: 0;
    padding: 0;
}

.modal-cs .content-10 h4 {
    margin: 0;
    font-size: 18px;
}

.modal-cs .modal-header button {
    border: none;
    background-color: transparent;
}

.modal-cs .modal-header button img {
    width: 22px;
}

.modal-cs .modal-footer button,
.modal-cs .modal-footer a {
    padding: 10px;
}

/* ajax blade  */
.search-result {
    max-height: 425px;
    overflow-y: auto;
}

/* notification  */

.notification-container {
    position: relative;
}

.notification {
    cursor: pointer;
    position: relative;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
}

.notification-dropdown {
    display: none;
    position: absolute;
    top: 65px;
    right: 259px;
    width: 500px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;
}

.notification-header h4 {
    font-size: 21px;
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.notification-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-status--left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-status--left button {
    margin-right: 15px;
    padding: 5px 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 10px;
}

.notification-item {
    padding: 8px 10px;
    color: #000;
    border-bottom: 1px solid #eee;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item.read {
    background-color: #f5f5f5;
}

.no-notification {
    color: #000;
    font-weight: 500;
    text-align: center;
    margin-top: 18px;
}

/* hien thi don hang  */

.details-container p {
    text-align: left;
    font-style: italic;
    color: var(--color-black);
}

.details-container p span {
    font-style: italic;
    color: var(--color-black);
    font-weight: 500;
    margin-right: 20px;
}

.batch-table tr td {
    text-align: center;
}

.batch-table tr th {
    text-align: center;
}

.goods-issue-row:hover {
    background-color: rgb(230, 247, 236);
}

.restock-request-row:hover {
    background-color: rgb(230, 247, 236);
}

.content-10 h3 {
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin: 15px 0;
}

.content-10 h6 {
    font-size: 22px;
    font-weight: 400;
    display: flex;
    color: #000;
}

.content-10 h6 span {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    width: 15%;
}

.content-10 table {
    margin: 40px 0;
}

.form-control {
    color: #000;
}

.form-control:focus {
    color: #000;
}

.table_title div {
    margin-left: 20px;
}

.table_title div a {
    font-size: 20px;
    padding: 0 10px;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f4f9ff;
    border: 1px solid #8fbff4;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="date"]:hover {
    border-color: #68a7f3;
    background-color: #eef7ff;
}

input[type="date"]:focus {
    border-color: #0044cc;
    box-shadow: 0 0 5px rgba(0, 68, 204, 0.5);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(45%) sepia(30%) saturate(150%) hue-rotate(190deg)
        brightness(90%) contrast(85%);
}

.money {
    font-weight: 700 !important;
    color: blue !important;
}

.order-status {
    font-weight: 400;
    background-color: green;
    color: #fff !important;
    padding: 3px 9px;
    border-radius: 15px;
}

.order-label {
    color: #000;
    font-size: 18px;
}

/* tr:hover {
    background-color: rgb(230, 247, 236);
} */

.username {
    margin-left: 9px;
    color: #000;
    font-weight: 600;
}
